{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">

       <h1 class="font-weight-bold head">My Profile</h1>

  </header>
  </div>

   <div class="container">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-5 col-md-5">
         <div class="card border-0 shadow">
           <img src="{% static 'vik.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Vikih Fitrianih</h5>
             <ul class="list-unstyled mb-0">
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/vftri_/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
             
           </div>
         </div>
       </div>

       <div class="col-md-7">
           <ul class="accordion child">

               <li class='acc-list'>
                 <a class="panels" href="#">Activities</a>
                 <ul class="inside">
                     <li>I study at Fasilkom UI</li>
                 </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Experiences</a>
                 <ul class="inside">
                   <li>Staff of Nihongo Club <strong> SMAN 5</strong> </li>
                   <li>Head of <strong>Traditional Dance SMAN 5 </strong> </li>
                 </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Achievements</a>
                 <ul class="inside">
                   <li>Study at Fasilkom UI</li>
                </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Educations</a>
                 <ul class="inside">
				   <li>Paud Melati</li>
                   <li>SDN Salembaran 2</li>
                   <li>SMPN 1 Kosambi</li>
                   <li>SMAN 5 Kabupaten Tangerang</li>
                   <li>University of Indonesia, Computer Science Undergraduate</li>
                 </ul>
               </li>

          </div>
        </div>
        <div class="containerbrew">
          <button type="button" class="btn btn-warning nav-link theme">Change Theme</button>
        </div>
</div>
{% endblock body %}
